.blog-related {
    padding-bottom: 105px;

    &__posts {
        margin-top: 55px;
        display: flex;
        justify-content: space-between;
        gap: 15px;

        img {
            transition: .3s;
        }

        img:hover {
            transform: scale(1.02);
        }

        p {
            margin-top: 10px;
            font-size: .68rem;
            letter-spacing: 1px;
        }
    }
}