.blog-related {
    padding-bottom: 105px;

    &__posts {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        margin-top: 55px;

        img {
            transition: .3s;
        }

        img:hover {
            transform: scale(1.02);
        }

        a:focus-visible {
            outline: none;

            img {
                outline: $focusOutline;
                outline-width: 6px;
            }
        }

        p {
            margin-top: 10px;
            
            font-size: .68rem;
            letter-spacing: 1px;
        }
    }
}