.contact {
    position: relative;

    h2 {
        position: absolute;
        top: -145px;
        width: 350px;
        margin-left: 3px;

        &::before {
            content: '';

            display: block;
            width: 40px;
            height: 3px;

            background-color: $black;
            margin-bottom: 40px;
        }
    }

    &__help-message {
        margin-bottom: 45px;

        font-weight: 500;
        line-height: 27px;
        text-align: left;

        opacity: .5;
    }

    &__details {
        margin-left: 3px;
        padding-top: 150px;
    }

    &__info {
        display: flex;
        width: 100%;
        margin-bottom: 55px;
        
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 33%;
            height: 225px;
            border-right: $borderStyle;

            &:last-of-type {
                border-right: none;
            }
        }

        div {
            width: 64%;
        }
        
        i {
            font-size: 2rem;
            margin-top: 50px;
            margin-bottom: 20px;
        }

        h4 {
            margin-bottom: 10px;
        }

        address {
            font-size: .65rem;
            opacity: .8;
        }
    }

    &__form {
        h3 {
            padding-bottom: 20px;
        }

        button {
            margin-bottom: 115px;
        }
    }

    &__display-img {
        background-image: url('../assets/contact-2.jpeg');
        @include fullbleed-height(688);
    }
}