.skip-link {
    position: absolute;
    z-index: 10;
    left: -1000px;
    top: 5px;

    background: white;
    color: #000;
    
    &:focus {
        left: 0;
    }
}

.wrapper {
    width: 90%;
    max-width: 1536px;
    margin: 0 auto;
}

.blog-page,
.contact-page {

    .wrapper {
        max-width: 1175px;
    }
}

img {
    max-width: 100%;
}

a {
    transition: .3s;

    &:focus-visible {
        outline: $focusOutline;
    }
}

button {
    height: 55px;

    border: none;

    background-color: transparent;

    cursor: pointer;
}

input {
    height: 48px;
}

input,
textarea {
    font-family: $bodyFont;

    padding-left: 15px;
    border: none;
}

.vertical-line {
    position: absolute;
    top: calc((-160px/2));

    width: 1px;
    height: 160px;

    background-color: rgba(55, 55, 55, .4);
}

.social-icons {
    display: flex;
    font-size: .8rem;
}


// I noticed the full-bleed images looked had weird spacing issues underneath them in Chrome, and some searching brought me to this Stack Overflow answer by Nisharg Shah, which I've edited a bit. 
// https://stackoverflow.com/questions/55918304/css-for-default-scrollbar-of-chrome
// Mostly, I was just doing this out of curiosity, but I'd be intested in improving the scrollbar using js later on. 

::-webkit-scrollbar {
    width: 5px;
}

// Track 
::-webkit-scrollbar-track {
    background: transparent; 
}

// Handle
::-webkit-scrollbar-thumb {
    background: $lightSage; 
}

// Handle on hover
::-webkit-scrollbar-thumb:hover{
    background: $black; 
}
