.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: #000;
    
    &:focus {
        left: 0;
    }
}

.wrapper {
    width: 80%;
    max-width: 1536px;
    margin: 0 auto;
}

.blog-page,
.contact-page {
    .wrapper {
        max-width: 1175px;
    }
}

img {
    max-width: 100%;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 55px;
}

input {
    height: 48px;
}

input,
textarea {
    border: none;
    font-family: $bodyFont;
    padding-left: 15px;
}

.vertical-line {
    width: 1px;
    height: 160px;
    position: absolute;
    top: calc((-160px/2));
    background-color: rgba(55, 55, 55, .4);
}