.comment-form {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding-top: 50px;
    
    input,
    textarea {
        border-bottom: $borderStyle;
        margin-left: 3px;
        padding-left: 4px;

        letter-spacing: .4px;
        

        &:focus,
        &:focus-visible {
            border-color: $black;
            outline: none;

            &::placeholder {
                opacity: 1;
            }
        }

        &::placeholder {
            opacity: .6;
        }
    }

    label {
        opacity: .6;

        letter-spacing: .4px;
    }

    input {
        width: 31.5%;
        height: 44px;
        margin-bottom: 33px;
    }

    textarea {
        width: 100%;
        margin-top: 10px;

        resize: vertical;
    }

    button {
        height: 35px;
        margin: 50px 0 190px 0;
        border-bottom: 1px solid $black;
        
        font-size: .7rem;
        font-weight: normal;
        letter-spacing: .2px;

        &:hover,
        &:focus {
            outline: none;
            font-weight:500;
        }

        &:focus-visible {
            background: $focusBackground;
        }
    }
}