header {

    // Nav bar
    .nav-bar {
        padding: 46px 0 38px 0;
        max-width: 1190px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    h1 {
        padding: 0 10px;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 258px;
    }

    .right-nav {
        justify-content: space-around;
        margin-right: 7px;
    }

    .link-container {
        position: relative;

        a {
            padding: 0 8px;
            
            &:focus ~ .hover-style {
                display: block;
            }

            &:focus {
                outline: none;
            }
        }
        
        &:hover > .hover-style {
            display: block  ;
        }
    }


    .hover-style {
        border-bottom: 1px solid $black;
        height: 1px;
        width: 100%;
        position: absolute;
        top: 55%;
        display: none;

    }

    button {
        font-size: 1.05rem;
        height: 36px;
        width: 36px;
    }

    .shopping-bag {
        position: relative;

        p {
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: .45rem;
            height: 16px;
            width: 16px;
            background-color: $lightSage;
            border-radius: 50%;
        }
    }

}

// Unique page styles

.home-header {
    background-image: url('../assets/home-1.jpeg');
    @include fullbleed-height(1020);
}

.blog-header {
    background-image: url('../assets/blog-1.jpeg');
    @include fullbleed-height(900);
}

.contact-header {
    background-color: $primaryWhite;

    .display-img {
        background-image: url('../assets/contact-1.jpeg');
        @include fullbleed-height(224);
    }
}
