html {
    font-size: 125%;
}

body {
    font-family: $bodyFont;
    font-weight: normal;
    font-size: .7rem;
    text-align: center;
    line-height: 24px;
    letter-spacing: .3px;
    color: $black;

}

h1 .heading {
    letter-spacing: 0;
}

.heading {
    font-family: $headingFont;
    text-transform: uppercase;
    font-size: .9rem;
    line-height: 24px;
    letter-spacing: 1.8px;
    

    
    &--bold {
        font-weight: bold;
        font-size: 1.85rem;
        letter-spacing: .9px;
    }
    
    &--nav {
        font-weight: normal;
        font-size: .7rem;
        text-align: center;
        letter-spacing: .3px;
    }

    &--button {
        font-weight: bold;
        font-size: .7rem;
        text-align: center;
        line-height: 24px;
        letter-spacing: .7px;
    }

}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    text-align: left;
}

.blog-page,
.contact-page {
    h2 {
        font-size: 3rem;
        letter-spacing: 1.6px;
        text-align: left;
        line-height: 60px;
    }

    h3 {
        padding-left: 3px;
        font-size: 1.5rem;
        padding-bottom: 30px;
        text-align: left;
    }
}

.blog-page {
    h3 {
        border-bottom: $borderStyle;
    }

    h4,
    p.heading {
        font-size: .85rem;
        letter-spacing: .2px;
    }
}

.contact-page {
    h2 {
        line-height: 70px;
    }

    h3 {
        font-size: .89rem;
        font-weight: 600;
    }

    h4 {
        font-weight: 600;
        font-size: .7rem;
        letter-spacing: 7px;
    }
}

