.home-carousel {

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1180px;
        margin: 0 auto;
        padding: 150px 0 140px 0;
    }

    &__btn {
        font-size: 2rem;
        transition: opacity .2s;

        &:hover {
            opacity: .5;
        }

        &:focus-visible {
            outline: $focusOutline;
        }
    }
    
    &__item {
        width: 68%;

        font-size: .8rem;
        font-style: italic;
        line-height: 2;
        text-align: center;
        
        opacity: .8;

        img {
            margin-bottom: 25px;
            border-radius: 50%;
        }
    }
}