.home-highlights {
    background-image: url('../assets/home-4.jpeg');
    @include fullbleed-height(925);
    
    
    .wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
    }

    &__container {
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        justify-content: space-between;
        width: 770px;
        padding-top: 140px;
    }

    &__highlight {
        display: flex;
        width: calc(735px/2);
        margin-bottom: 105px;
    }

    &__icon {
        font-size: 1.5rem;

        i {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 67px;
            height: 67px;
            margin-top: 5px;
            border: 3px solid $black;
            border-radius: 50%;
        }
    }


    &__text {
        margin-left: 38px;

        h3 {
            margin-bottom: 10px;
            letter-spacing: .4px;
        }

        p {
            font-size: .65rem;
            opacity: .6;
        }
    }
}