.home-portfolio {
    display: flex;

    div {
        width: 50%;
        height: calc((925 / 960) * 50vw);
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: $lightSage;

        h2 {
            margin-bottom: 50px;
            font-size: 1.2rem;
        }

        p {
            width: 85%;
            max-width: 490px;
            margin-bottom: 50px;

            opacity: .75;
        }

        button {
            padding: 0 30px;
            
            background-color: $primaryWhite;
            
            transition: .3s;

            &:hover {
                color: $secondaryWhite;
                background-color: $black;
            }
        }
    }

    &__img-container {
        background-image: url('../assets/home-10.jpeg');
        background-size: contain;
    }
}