// COLOUR PALETTE
$lightSage: #C3DAB7;
$primaryWhite: #fff;
$secondaryWhite: #F6F6F6;
$black: #333;

// FONT FAMILIES
$headingFont: 'Montserrat', sans-serif;
$bodyFont: 'Open Sans', sans-serif;

// STYLES
$borderStyle: 1px solid rgba(55, 55, 55, .25);