html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*! adjust.css v0.1.1 | MIT License | github.com/shoaiyb/adjust.css */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

nav,
aside,
article,
section,
header,
footer {
  display: block;
}

a {
  background-color: transparent;
}

code,
kbd,
samp {
  font-family: monospace;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
select {
  margin: 0;
}

ol,
ul {
  list-style: none;
}

img,
video,
audio,
embed,
iframe {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: #000;
}
.skip-link:focus {
  left: 0;
}

.wrapper {
  width: 90%;
  max-width: 1536px;
  margin: 0 auto;
}

.blog-page .wrapper,
.contact-page .wrapper {
  max-width: 1175px;
}

img {
  max-width: 100%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 55px;
}

input {
  height: 48px;
}

input,
textarea {
  border: none;
  font-family: "Open Sans", sans-serif;
  padding-left: 15px;
}

.vertical-line {
  width: 1px;
  height: 160px;
  position: absolute;
  top: -80px;
  background-color: rgba(55, 55, 55, 0.4);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #C3DAB7;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

html {
  font-size: 125%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 0.7rem;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #333;
}

h1 .heading {
  letter-spacing: 0;
}

.heading {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
  line-height: 24px;
  letter-spacing: 1.8px;
}
.heading--bold {
  font-weight: bold;
  font-size: 1.85rem;
  letter-spacing: 0.9px;
}
.heading--nav {
  font-weight: normal;
  font-size: 0.7rem;
  text-align: center;
  letter-spacing: 0.3px;
}
.heading--button {
  font-weight: bold;
  font-size: 0.7rem;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.7px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  text-align: left;
}

.blog-page h2,
.contact-page h2 {
  font-size: 3rem;
  letter-spacing: 1.6px;
  text-align: left;
  line-height: 60px;
}
.blog-page h3,
.contact-page h3 {
  padding-left: 3px;
  font-size: 1.5rem;
  padding-bottom: 30px;
  text-align: left;
}

.blog-page h3 {
  border-bottom: 1px solid rgba(55, 55, 55, 0.2);
}
.blog-page h4,
.blog-page p.heading {
  font-size: 0.85rem;
  letter-spacing: 0.2px;
}

.contact-page h2 {
  line-height: 70px;
}
.contact-page h3 {
  font-size: 0.89rem;
  font-weight: 600;
}
.contact-page h4 {
  font-weight: 600;
  font-size: 0.7rem;
  letter-spacing: 7px;
}

@-webkit-keyframes delay-opacity {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes delay-opacity {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header__nav-bar {
  padding: 46px 0 38px 0;
  max-width: 1190px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header h1 {
  padding: 0 10px;
}
.header__nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 258px;
}
.header__nav-container--right {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 7px;
}
.header__link-container {
  position: relative;
}
.header__link-container a {
  padding: 0 8px;
  z-index: 2;
}
.header__link-container a:focus ~ .hover-style {
  opacity: 1;
}
.header__link-container a:focus {
  outline: none;
}
.header__link-container:hover > .hover-style {
  opacity: 1;
}
.header .hover-style {
  border-bottom: 1px solid #333;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 55%;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.header__btn {
  height: 36px;
  width: 36px;
}
.header__btn i {
  font-size: 1.05rem;
}
.header__btn--shopping-bag {
  position: relative;
}
.header__btn--shopping-bag p {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.45rem;
  height: 16px;
  width: 16px;
  background-color: #C3DAB7;
  border-radius: 50%;
}

.header__nav-bar--mobile {
  display: none;
}
.header__nav-bar--mobile h1 {
  height: 36px;
  padding: 0;
}

.slide-nav {
  width: 100vw;
  min-height: 100vh;
  left: -1000px;
  top: 0;
  overflow: visible;
  position: fixed;
  background-color: #333;
  z-index: 3;
}
.slide-nav__links {
  position: absolute;
  top: 90px;
  left: 5vw;
  opacity: 0;
  color: #F6F6F6;
}
.slide-nav__links li {
  width: 91vw;
}
.slide-nav__links a {
  font-size: 1.3rem;
}
.slide-nav__btn-container {
  padding-bottom: 8px;
  text-align: right;
}
.slide-nav__btn {
  padding: 0;
  width: 26px;
}
.slide-nav__btn:first-of-type {
  margin-right: 10px;
}
.slide-nav__btn .fa-solid {
  color: #F6F6F6;
}
.slide-nav__btn--shopping-bag p {
  right: -1px;
}
.slide-nav__link-container {
  padding: 0 0 25px 0;
}
.slide-nav__toggle-btn {
  opacity: 0 !important;
  position: absolute !important;
}
.slide-nav__toggle-btn:checked ~ .slide-nav {
  left: 0;
}
.slide-nav__toggle-btn:checked ~ section ul {
  -webkit-animation: delay-opacity 0.75s ease-in-out;
          animation: delay-opacity 0.75s ease-in-out;
  opacity: 1;
}
.slide-nav__toggle-btn:checked ~ label, .slide-nav__toggle-btn:checked ~ h1 {
  z-index: 4;
  color: #F6F6F6;
}

.header .transition {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.header--home {
  background-image: url("../assets/home-1.jpeg");
  height: 53.125vw;
  background-size: contain;
}
.header--blog {
  background-image: url("../assets/blog-1.jpeg");
  height: 46.875vw;
  background-size: contain;
}
.header--contact {
  background-color: #fff;
}
.header--contact .display-img {
  background-image: url("../assets/contact-1.jpeg");
  height: 224px;
  background-size: cover;
  background-position: center;
}

.comment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}
.comment-form input,
.comment-form textarea {
  border-bottom: 1px solid rgba(55, 55, 55, 0.2);
  letter-spacing: 0.4px;
  padding-left: 4px;
  margin-left: 3px;
}
.comment-form input:focus, .comment-form input:focus-visible,
.comment-form textarea:focus,
.comment-form textarea:focus-visible {
  outline: none;
  border-color: #333;
}
.comment-form input:focus::-webkit-input-placeholder, .comment-form input:focus-visible::-webkit-input-placeholder, .comment-form textarea:focus::-webkit-input-placeholder, .comment-form textarea:focus-visible::-webkit-input-placeholder {
  opacity: 1;
}
.comment-form input:focus::-moz-placeholder, .comment-form input:focus-visible::-moz-placeholder, .comment-form textarea:focus::-moz-placeholder, .comment-form textarea:focus-visible::-moz-placeholder {
  opacity: 1;
}
.comment-form input:focus:-ms-input-placeholder, .comment-form input:focus-visible:-ms-input-placeholder, .comment-form textarea:focus:-ms-input-placeholder, .comment-form textarea:focus-visible:-ms-input-placeholder {
  opacity: 1;
}
.comment-form input:focus::-ms-input-placeholder, .comment-form input:focus-visible::-ms-input-placeholder, .comment-form textarea:focus::-ms-input-placeholder, .comment-form textarea:focus-visible::-ms-input-placeholder {
  opacity: 1;
}
.comment-form input:focus::placeholder, .comment-form input:focus-visible::placeholder,
.comment-form textarea:focus::placeholder,
.comment-form textarea:focus-visible::placeholder {
  opacity: 1;
}
.comment-form input::-webkit-input-placeholder, .comment-form textarea::-webkit-input-placeholder {
  opacity: 0.6;
}
.comment-form input::-moz-placeholder, .comment-form textarea::-moz-placeholder {
  opacity: 0.6;
}
.comment-form input:-ms-input-placeholder, .comment-form textarea:-ms-input-placeholder {
  opacity: 0.6;
}
.comment-form input::-ms-input-placeholder, .comment-form textarea::-ms-input-placeholder {
  opacity: 0.6;
}
.comment-form input::placeholder,
.comment-form textarea::placeholder {
  opacity: 0.6;
}
.comment-form label {
  letter-spacing: 0.4px;
  opacity: 0.6;
}
.comment-form input {
  width: 31.5%;
  height: 44px;
  margin-bottom: 33px;
}
.comment-form textarea {
  width: 100%;
  margin-top: 10px;
  resize: vertical;
}
.comment-form button {
  font-size: 0.7rem;
  letter-spacing: 0.2px;
  border-bottom: 1px solid #333;
  height: 35px;
  margin: 50px 0 190px 0;
  font-weight: normal;
}
.comment-form button:hover {
  font-weight: 500;
}

.footer {
  background-color: #333;
  color: #fff;
}
.footer__main {
  padding: 110px 0;
  max-width: 1465px;
  margin: 0 auto;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__nav-container {
  height: 215px;
}
.footer__nav-container li:first-of-type {
  list-style: none;
}
.footer__nav-container h4 {
  margin-bottom: 40px;
}
.footer__nav-container--recent-posts h4 {
  text-align: center;
}
.footer__nav-container--recent-posts li {
  list-style: disc;
  margin-bottom: 10px;
}
.footer__nav-container--subscribe {
  text-align: right;
}
.footer__nav-container--subscribe p {
  margin-bottom: 40px;
}
.footer__nav-container--subscribe input {
  width: 220px;
  position: relative;
  left: 4px;
  top: -0.5px;
}
.footer__nav-container--subscribe input:focus-visible {
  outline: none;
}
.footer__nav-container--subscribe input:focus-visible::-webkit-input-placeholder {
  opacity: 1;
}
.footer__nav-container--subscribe input:focus-visible::-moz-placeholder {
  opacity: 1;
}
.footer__nav-container--subscribe input:focus-visible:-ms-input-placeholder {
  opacity: 1;
}
.footer__nav-container--subscribe input:focus-visible::-ms-input-placeholder {
  opacity: 1;
}
.footer__nav-container--subscribe input:focus-visible::placeholder {
  opacity: 1;
}
.footer__nav-container--subscribe input:focus {
  outline: auto;
}
.footer__nav-container--subscribe button {
  background-color: #C3DAB7;
  height: 48px;
  width: 48px;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}
.footer__social {
  text-align: left;
  font-size: 0.8rem;
}
.footer__social a {
  margin-right: 15px;
}
.footer__logo {
  border-top: 1px solid rgba(250, 250, 250, 0.15);
  width: 100%;
  padding: 75px;
}
.footer__logo a {
  font-size: 0.75rem;
  letter-spacing: 6px;
}

.home-branding {
  background-color: #C3DAB7;
}
.home-branding .wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-branding__img-container {
  width: 469px;
  height: 268px;
  position: relative;
  margin: 195px 0 80px 0;
  background-image: url("../assets/home-2.jpeg");
}
.home-branding__img-container img {
  position: absolute;
  top: -94px;
  left: -106px;
}
.home-branding__text-container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 746px;
  margin-bottom: 135px;
}
.home-branding__text-container li {
  width: 334px;
}
.home-branding__text-container h3 {
  margin-bottom: 15px;
}

.home-carousel__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1180px;
  padding: 150px 0 140px 0;
}
.home-carousel__btn {
  font-size: 2rem;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.home-carousel__btn:hover {
  opacity: 0.5;
}
.home-carousel__item {
  width: 68%;
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
  line-height: 2;
  opacity: 0.8;
}
.home-carousel__item img {
  border-radius: 50%;
  margin-bottom: 25px;
}

.home-highlights {
  background-image: url("../assets/home-4.jpeg");
  height: 48.1770833333vw;
  background-size: contain;
}
.home-highlights .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-highlights__container {
  width: 770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  padding-top: 140px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home-highlights__highlight {
  width: 367.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 105px;
}
.home-highlights__icon {
  font-size: 1.5rem;
}
.home-highlights__icon i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 67px;
  height: 67px;
  margin-top: 5px;
  border: 3px solid #333;
  border-radius: 50%;
}
.home-highlights__text {
  margin-left: 38px;
}
.home-highlights__text h3 {
  letter-spacing: 0.4px;
  margin-bottom: 10px;
}
.home-highlights__text p {
  opacity: 0.6;
  font-size: 0.65rem;
}

.home-team .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 98%;
}
.home-team .vertical-line {
  z-index: -1;
}
.home-team h2 {
  margin: 140px 0 100px 0;
  font-size: 1.15rem;
}
.home-team__gallery {
  display: grid;
  grid-template: repeat(2, 270px)/repeat(4, 270px);
  gap: 30px;
  margin-bottom: 190px;
}
.home-team__players {
  background-color: #F6F6F6;
  grid-column: 1/span 2;
}
.home-team__players div {
  padding-left: 45px;
}
.home-team__players p {
  width: 94%;
}
.home-team__players h3 {
  padding-top: 100px;
  margin-bottom: 25px;
  font-size: 0.9rem;
}
.home-team__work-with {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.home-team__work-with:hover {
  background-color: rgba(195, 218, 183, 0.4);
}
.home-team__work-with:hover p {
  font-weight: bold;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.home-team__work-with a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home-team__work-with p {
  text-align: center;
  font-size: 0.75rem;
  width: 70%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home-portfolio div {
  width: 50%;
  height: 48.1770833333vw;
}
.home-portfolio__text-container {
  background-color: #C3DAB7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home-portfolio__text-container h2 {
  font-size: 1.2rem;
  margin-bottom: 50px;
}
.home-portfolio__text-container p {
  max-width: 490px;
  width: 85%;
  opacity: 0.75;
  margin-bottom: 50px;
}
.home-portfolio__text-container button {
  background-color: #fff;
  padding: 0 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.home-portfolio__text-container button:hover {
  color: #F6F6F6;
  background-color: #333;
}
.home-portfolio__img-container {
  background-image: url("../assets/home-10.jpeg");
  background-size: contain;
}

.blog-post {
  padding-bottom: 115px;
}
.blog-post h2 {
  margin-top: 140px;
}
.blog-post .breadcrumb {
  margin-top: 40px;
}
.blog-post .breadcrumb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.blog-post .breadcrumb li {
  padding-right: 5px;
  opacity: 0.6;
}
.blog-post .breadcrumb li::before {
  content: "/";
  padding-right: 5px;
}
.blog-post .breadcrumb li:first-child::before {
  content: "";
  padding-right: 0;
}
.blog-post .breadcrumb li:last-of-type {
  opacity: 1;
}

.blog-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  border-bottom: 1px solid rgba(55, 55, 55, 0.2);
  margin: 55px 3px 0 3px;
}
.blog-info p {
  font-size: 0.64rem;
  letter-spacing: 0.1px;
  opacity: 0.6;
}
.blog-info .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog-info .author-img {
  margin-right: 32px;
  width: 68px;
}
.blog-info .author-img img {
  border-radius: 50%;
}
.blog-info .attr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 560px;
  margin: 0 40px;
}

.blog-content {
  margin: 60px 3px 0 3px;
  padding-bottom: 10px;
}
.blog-content p {
  opacity: 0.6;
  word-break: keep-all;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  font-weight: 400;
  margin-bottom: 24px;
  font-size: 0.71rem;
  text-align: left;
}
.blog-content p:first-of-type {
  opacity: 1;
  font-weight: 800;
  letter-spacing: 0.2px;
}

.blog-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 175px;
}
.blog-share a {
  font-size: 0.8rem;
}

.blog-related {
  padding-bottom: 105px;
}
.blog-related .posts {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}
.blog-related .posts img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.blog-related .posts img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.blog-related .posts p {
  margin-top: 10px;
  font-size: 0.68rem;
  letter-spacing: 1px;
}

.blog-posted-comments {
  padding-bottom: 25px;
}
.blog-posted-comments .comments-container {
  padding: 50px 0;
  margin-left: 3px;
}
.blog-posted-comments .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}
.blog-posted-comments .author-info--mobile {
  display: none;
}
.blog-posted-comments .img-container {
  margin: 0 33px 0 0;
}
.blog-posted-comments .img-container img {
  width: 78px;
}
.blog-posted-comments .text-container {
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;
  position: relative;
}
.blog-posted-comments .text-container li {
  padding: 3px 20px;
}
.blog-posted-comments .text-container::before {
  content: "<<<<<<<<<<<<<<";
  letter-spacing: -15px;
  font-size: 1.5rem;
  position: absolute;
  left: -15px;
  color: #F6F6F6;
  z-index: -1;
}
.blog-posted-comments p.heading {
  font-size: 0.7rem;
}
.blog-posted-comments .reply-btn {
  font-family: "Open Sans", sans-serif;
  text-transform: none;
  font-style: italic;
  color: rgb(100, 122, 88);
  letter-spacing: 0.3px;
}
.blog-posted-comments .reply-btn:hover {
  font-weight: 500;
}
.blog-posted-comments .comment-text {
  opacity: 0.7;
  letter-spacing: 0.45px;
}
.blog-posted-comments .time-stamp {
  font-size: 0.6rem;
  opacity: 0.6;
  letter-spacing: 0px;
  font-family: "Montserrat", sans-serif;
}

.contact {
  position: relative;
}
.contact h2 {
  width: 350px;
  margin-left: 3px;
  position: absolute;
  top: -145px;
}
.contact h2::before {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #333;
  display: block;
  margin-bottom: 40px;
}
.contact .help-message {
  text-align: left;
  opacity: 0.5;
  font-weight: 500;
  line-height: 27px;
  margin-bottom: 45px;
}
.contact-details {
  padding-top: 150px;
  margin-left: 3px;
}
.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 55px;
}
.contact-info li {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 225px;
  border-right: 1px solid rgba(55, 55, 55, 0.2);
}
.contact-info li:last-of-type {
  border-right: none;
}
.contact-info div {
  width: 64%;
}
.contact-info i {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 50px;
}
.contact-info h4 {
  margin-bottom: 10px;
}
.contact-info p {
  opacity: 0.8;
  font-size: 0.65rem;
}
.contact-form h3 {
  padding-bottom: 20px;
}
.contact-form button {
  margin-bottom: 115px;
}
.contact-display-img {
  background-image: url("../assets/contact-2.jpeg");
  height: 35.8333333333vw;
  background-size: contain;
}

@media (max-width: 1625px) {
  .home-highlights {
    height: 925px;
    background-size: cover;
  }
  .home-highlights__container {
    background-color: rgba(255, 255, 255, 0.96);
    padding: 50px;
    width: 925px;
    gap: 60px;
  }
  .home-highlights__highlight {
    margin-bottom: 0;
  }
}
@media (max-width: 1224px) {
  .header--contact .display-img {
    height: 150px;
  }

  .home-team__gallery {
    grid-template: repeat(3, 270px)/repeat(3, 270px);
  }
  .home-team__players {
    grid-column: 1/span 3;
  }
  .home-team__players div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
    height: 100%;
    padding-left: 0;
    margin: 0 auto;
    text-align: center;
  }
  .home-team__players h3 {
    padding-top: 0px;
  }

  .contact h2 {
    top: -85px;
  }
}
@media (max-width: 995px) {
  .home-highlights {
    height: 1400px;
  }
  .home-highlights .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-highlights__container {
    width: 100%;
    max-width: 570px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 40px 0;
    padding: 90px 0;
  }

  .footer__main {
    padding-bottom: 80px;
  }
  .footer__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 655px;
    margin: 0 auto;
  }
  .footer__nav-container {
    margin-bottom: 80px;
  }
  .footer__nav-container--subscribe {
    width: 100%;
    margin-bottom: 0px;
    text-align: left;
  }
  .footer__nav-container--subscribe h4 {
    margin-bottom: 5px;
  }
  .footer__nav-container--subscribe p {
    margin-bottom: 20px;
  }
  .footer__nav-container--subscribe input {
    width: 90%;
  }
  .footer__social {
    text-align: center;
    font-size: 1.2rem;
  }
}
@media (max-width: 920px) {
  .header__nav-container {
    width: 227px;
  }

  .header--blog {
    height: 500px;
    background-size: cover;
    background-position: bottom center;
  }

  .header--contact .display-img {
    background-position: 32% 50%;
  }

  .home-team__gallery {
    grid-template: repeat(4, 270px)/repeat(2, 270px);
  }
  .home-team__players {
    grid-column: 1/span 2;
  }
  .home-team__players div {
    width: 90%;
  }
}
@media (max-width: 804px) {
  .header__nav-bar--desktop {
    display: none;
  }
  .header__nav-bar--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header--contact .display-img {
    background-position: 20% 50%;
  }

  .comment-form button {
    margin-bottom: 100px;
  }

  .vertical-line {
    height: 100px;
    top: -50px;
  }

  .home-branding__img-container {
    background-size: contain;
    background-repeat: no-repeat;
    width: 60vw;
    height: 34.284vw;
    margin: 160px 0 80px 0;
  }
  .home-branding__img-container img {
    width: calc(60vw - 60%);
    left: calc(60vw - 116%);
    top: calc(60vw - 202%);
  }
  .home-branding__text-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .home-branding__text-container li {
    width: 100%;
  }
  .home-branding__text-container li:first-of-type {
    margin-bottom: 60px;
  }
  .home-branding__text-container p {
    width: 45%;
    margin: 0 auto;
  }

  .home-portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-portfolio div {
    width: 100%;
    height: 380px;
  }
  .home-portfolio__img-container {
    background-size: cover;
    background-position: center;
  }

  .blog-info {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    border-bottom: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 20px;
    padding-bottom: 10px;
  }
  .blog-info .attr {
    margin: 0 0 70px 0;
    width: 98%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-bottom: 1px solid rgba(55, 55, 55, 0.2);
    padding-bottom: 25px;
  }
  .blog-info .attr li {
    margin-right: 40px;
  }
  .blog-info .attr li:first-of-type {
    margin-left: 15px;
  }
  .blog-info .attr li:last-of-type {
    margin-right: 0;
  }
  .blog-info .attr p {
    font-size: 0.6rem;
  }

  .blog-content {
    margin-top: 0px;
  }

  .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-info li {
    border-right: none;
    border-bottom: 1px solid rgba(55, 55, 55, 0.2);
    text-align: center;
    width: 100%;
    max-width: 236px;
  }
  .contact-info li:last-of-type {
    border-bottom: none;
  }
  .contact-info li div {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .header--home {
    background-size: cover;
    background-position: bottom center;
    height: 345px;
  }

  .comment-form input {
    width: 100%;
  }

  .home-carousel__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
  }
  .home-carousel__btn {
    position: absolute;
    top: 115px;
  }
  .home-carousel__btn--right {
    right: 0;
  }
  .home-carousel__item {
    width: 90vw;
    font-size: 0.7rem;
  }
  .home-carousel__item img {
    margin-bottom: 40px;
    width: 200px;
  }

  .blog-related .posts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog-related .posts li {
    margin-bottom: 20px;
  }

  .footer__nav {
    max-width: 535px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__nav-container--contact-info li {
    text-align: center;
  }
  .footer__nav-container--subscribe {
    margin-top: 40px;
  }
  .footer__nav-container--subscribe input {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .header--blog {
    height: auto;
    background-image: none;
  }
  .header--blog .mobile-bg {
    background-image: url("../assets/blog-1.jpeg");
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .home-team .wrapper {
    width: 90%;
  }
  .home-team h2 {
    margin-bottom: 60px;
  }
  .home-team__gallery {
    grid-template: 60vw repeat(3, 43vw)/repeat(2, 43vw);
  }
  .home-team__players {
    grid-column: 1/span 2;
  }
  .home-team__players div {
    width: 90%;
  }
  .home-team img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 450px) {
  .home-highlights {
    height: 1500px;
  }
  .home-highlights__container {
    padding: 70px 15px;
  }
  .home-highlights__text {
    margin-left: 10px;
  }

  .home-team__gallery {
    grid-template: 90vw repeat(6, 70vw)/repeat(1, 70vw);
    margin-bottom: 90px;
  }
  .home-team__gallery li {
    grid-column: 1/span 1;
  }
  .home-team__players {
    grid-column: 1/span 1;
  }
  .home-team__work-with {
    background-color: #F6F6F6;
  }

  .blog-post h2 {
    margin-top: 40px;
    font-size: 2.2rem;
  }
  .blog-post .breadcrumb {
    font-size: 0.6rem;
  }

  .blog-info .attr li {
    margin-right: 20px;
  }
  .blog-info .attr li:first-of-type {
    margin-left: 0px;
  }

  .blog-posted-comments .author-info--desktop {
    display: none;
  }
  .blog-posted-comments .author-info--mobile {
    text-align: left;
    margin-left: 10px;
  }
  .blog-posted-comments .comments-container {
    padding: 50px 0 25px 0;
  }
  .blog-posted-comments .comment {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 50px;
  }
  .blog-posted-comments .img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 20px 0 0 0;
  }
  .blog-posted-comments .text-container::before {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    left: 22px;
    bottom: -12px;
  }

  .contact h2 {
    font-size: 2.4rem;
    width: 100%;
    max-width: 260px;
    top: -72px;
  }
  .contact h2::before {
    margin-bottom: 30px;
  }
}